{% extends 'base.html' %}

{% block content %}
<h1>List of stocks to purchase shares in</h1>

<!DOCTYPE html>

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
  <tr>
    <th>Stock</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tr>
    <td>STOCKPLACEHOLDER</td>
    <td>PRICEPLACEHOLDER</td>
    <td> <button type="button">Buy</button> </td>
  </tr>
  <tr>
    <td>STOCKPLACEHOLDER</td>
    <td>PRICEPLACEHOLDER</td>
    <td> <button type="button">Buy</button> </td>
  </tr>
  <tr>
    <td>STOCKPLACEHOLDER</td>
    <td>PRICEPLACEHOLDER</td>
    <td> <button type="button">Buy</button> </td>
  </tr>
  <tr>
    <td>STOCKPLACEHOLDER</td>
    <td>PRICEPLACEHOLDER</td>
    <td> <button type="button">Buy</button> </td>
  </tr>
  <tr>
    <td>STOCKPLACEHOLDER</td>
    <td>PRICEPLACEHOLDER</td>
    <td> <button type="button">Buy</button> </td>
  </tr>
</table>

{% endblock %}
