{% extends 'base.html' %}
{% block content %}
<h1>Confirm purchase of stock: {{ stock_name}}</h1>
 Available shares: {{stock_available}}<br>
 Price (per share): {{stock_price}}<br>

 <form method='POST'>{% csrf_token %}

 Quantity (between 1 and {{stock_available}}):
 {{form.shares_amount}} <br>
 Select trading account:
    <select name = "selectedAccount">
      {%for account in trading_accounts%}
        <option value="{{account.pk}}">{{account.trading_name}}</option>
      {% endfor %}
    </select> <br>
    Total: (Not implemented) <br>
<button onclick="submit" class="btn btn-secondary btn-sm">Buy</button>
</form>

<div id="container" style="height: 400px; min-width: 310px"></div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Sorry! {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<script src="https://code.highcharts.com/stock/highstock.js"></script>
{{ historical|json_script:"historicalData"}}

<script type="text/javascript">
  // Create the chart
  var value = JSON.parse(document.getElementById('historicalData').textContent);

  Highcharts.stockChart('container', {
        rangeSelector: {
            selected: 1
        },
        title: {
            text: "{{stock_ticker}}"
        },
      series:  [{
            data: value,
            turboThreshold: 0
        }],
    });
</script>

{% endblock %}
