{% extends 'base.html' %}

{% block content %}
<h1>List of stocks to purchase shares in</h1>

<!DOCTYPE html>

<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
  <tr>
    <th>Stock</th>
    <th>Price</th>
    <th>GICS</th>
    <th>Ticker</th>
    <th></th>

  </tr>
  <tr>
  {% for stock in stocks %}
     <tr>
          <th> {{stock.stock_name}} </th>
          <th> {{stock.stock_gics}} </th>
          <th> {{stock.stock_ticker}} </th>
          <th></th>
          <td> <button type="button">Buy</button> </td>
     </tr>
  {% endfor %}
</table>

{% endblock %}
