{% extends 'base.html' %}
{% block content %}
<h1>Confirm purchase of stock: {{ stock_name}}</h1>
 Available shares: {{stock_available}}<br>
 Price (per share): {{stock_price}}<br>

 <form method='POST'>{% csrf_token %}

 Quantity (between 1 and {{stock_available}}):
 {{form.shares_amount}} <br>
 Select trading account:
    <select name = "selectedAccount">
      {%for account in trading_accounts%}
        <option value="{{account.pk}}">{{account.trading_name}}</option>
      {% endfor %}
    </select> <br>
    Total: (Not implemented) <br>
 <input type="submit" value="Buy">
</form>

{% endblock %}
