{% extends 'base.html' %}

{% block content %}
<h1>List of stocks to purchase shares in</h1>


<div class="w3-container">
  <table class="w3-table-all w3-border w3-hoverable">
    <tr>
      <th>Stock</th>
      <th>GICS</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Day Change</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    {% for stock in stocks %}
       <tr>
            <th> {{stock.stock_name}} </th>
            <th> {{stock.stock_gics}} </th>
            <th> {{stock.stock_ticker}} </th>
            <th> {{stock.stock_price}} </th>
            <th><div>
              {% if stock.stock_dayChange > 0 %}
                  <div style="color:green">{{stock.stock_dayChange}}<i class="material-icons" style ="vertical-align:middle;">arrow_drop_up</i></div>
              {% elif stock.stock_dayChange < 0 %}
                  <div style="color:red">{{stock.stock_dayChange}}<i class="material-icons" style ="vertical-align:middle;">arrow_drop_down</i></div>
              {% else %}
                  <div style="color:green">{{stock.stock_dayChange}}</div>
              {% endif %}
            </th>
            <td> <button type="button">Buy</button> </td>
       </tr>
    {% endfor %}
  </table>`
</div>

<div class="w3-center">
<div class="w3-bar w3-xlarge w3-border w3-round">
    {% if stocks.has_previous %}
        <a class="w3-button w3-hover-grey" href="?page={{stocks.previous_page_number}}">&laquo;</a>
    {% endif %}
      {% for pg in page_range %}
          {% if stocks.number == pg %}
              <a class="w3-button w3-green" href="?page={{pg}}" >{{pg}}</a>
          {% else %}
              <a class="w3-button w3-hover-grey" href="?page={{pg}}" >{{pg}}</a>
          {% endif %}
      {% endfor %}

      {% if stocks.has_next %}
          <a class="w3-button w3-hover-grey" href="?page={{stocks.next_page_number}}">&raquo;</a>
      {% endif %}
</div>
</div>
{% endblock %}
