{% extends 'base.html' %}

{% block content %}
 <div style = "max-width:470px;">
   <center>
     <h1>Login to your account</h1>
   </center>
</div>

<form class="site-form" action="." method="post">
        {% csrf_token %}

        <!--username field styling -->
         <div style = "max-width:470px;">
            <center>
              <label for="username">Username</label>
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "username" name = "username" />
            </center>
         </div>

         <br>

         <!--password field styling -->
         <div style = "max-width:470px;">
            <center>
              <label for="password">Password</label>
               <input type = "password" style = "margin-left:20%;"
                  placeholder = "password" name = "password" />
            </center>
         </div>

         <br>

         <!--submit button field styling -->
         <div style = "max-width:470px;">
            <center>

               <button style = "border:0px; background-color: #008080;
                  height:35px; width:60%" type = "submit"
                  value = "Login" >
                   <font color="white">Login</font>
               </button>

            </center>
         </div>

      </form>
{% endblock %}
