{% load static from staticfiles %}
<!DOCTYPE HTML>
<!-- This HTML file is used as a base template for all other HTML files,
    every HTML file created MUST extend from this file. -->

<html>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	</style>
    <!-- Title of website, appears on the browser tab -->
    <head>
        <title>Hurricane Exchange</title>
    </head>
    <body>
        <nav>
            <ul>
            <!-- If user is already logged in, give the user an option to logout. -->
            {% if user.is_authenticated %}
                <li>
                    <form class="logout-link" action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="Submit">Logout</button>
                    </form>
                </li>
            {% else %}
            <!-- If user is not logged in, give the user an option to login. -->
                <li>
                    <a href="{% url 'users:login'%}">Login</a>
                </li>
                <li>
                    <a href="{% url 'users:signup'%}">Signup</a>
                </li>
            {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
