{% extends 'base.html' %}

{% block content %}
    <h1>Hurricanes Exchange - HomePage</h1>
    {% if user.is_authenticated %}
        <h2> Welcome {{ user.username }}!</h2>
        <h3>Funds available ${{ user.userfund.fund }}</h3>
            {% if firstTime %}
                <br>
                <div class="text-center">
                    <h3>Welcome {{ user.username }} to Hurricane Exchange!</h3>
                    <h3>To get started, you will need to setup your trading account</h3>
                    <h3>Press the button below to open a trading account and begin buying shares</h3>
                    <form action="/trading/create">
                        <button type="submit">Open a trading account</button>
                    </form>
                </div>
            {% endif %}
        <!-- Bootstrap div cards -->
        <div class='container'>
            <div class='row'>
                <div class='col-sm'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>Trading Accounts</h5>
                            <h6 class='card-subtitle mb-2 text-muted'>Your trading accounts</h6>
                            <ul class='list-group list-group-flush'>
                                {% if default_trading %}
                                    <li class='list-group-item'><a href="trading/{{ default_trading.id }}">{{ default_trading.trading_name }}</a></li>
                                {% endif %}
                                {% for accounts in list_accounts %}
                                    {% if accounts.id != default_trading.id %}
                                        <li class='list-group-item'><a href="trading/{{ accounts.id }}">{{ accounts.trading_name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <hr>
                                <a href='/trading' class='btn btn-primary'>View trading account information</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='col-sm'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>Stock</h5>
                            
                        </div>
                    </div>
                </div>
                <div class='col-sm'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>Leaderboard</h5>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    
    
    {% else %}
        <h2> Welcome to Hurricanes Exchange, please login </h2>
    {% endif %}

{% endblock %}
