{% extends 'base.html' %}

{% block content %}
<h1>Transaction history</h1>
<h2>Your transaction history: </h2>
<div class="container">
    <div class="row justify-content-md-center">
        <!-- Start Date -->
        <div class="col-sm-3">
          <h3>Start Date</h3>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        <!-- End Start Date --> 
        </div>
        <!-- End Date -->
        <div class="col-sm-3">
          <h3>End Date</h3>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>        
        <!-- End End Date --> 
        </div>
        <div class='col-sm-3'>
          <br><br>
        <button class='btn btn-primary'>Apply Range</button>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    format: 'L'
                });
            });
        </script>
    </div>
</div>


{% if noHistory %}
  <br>
  <h3>It appears you have not made any transactions on this trading account. </h3>

{% else %}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">GICS</th>
      <th scope="col">Price</th>
      <th scope="col">Shares</th>
      <th scope="col">Funds</th>
      <th scope="col">Type</th>
      <th scope="col">Date of transaction</th>
    </tr>
  </thead>
  <tbody>
    {% for history in object %}
      <tr>
        <td>{{ history.stock_name}}</td>
        <td>{{ history.stock_gics }}</td>
        <td>${{ history.stock_price }}</td>
        {% if history.transaction == 'P' %}
          <td>
            <div style="color:green">
              + {{history.no_of_shares}}
            </div>
          </td>
          <td>
            <div style="color:red">
              - ${{ history.funds }}
            </div>
          </td>
        {% else %}
          <td>
            <div style="color:red">
              - {{history.no_of_shares}}
            </div>
          </td>
          <td>
            <div style="color:green">
              + ${{history.funds}}
            </div>
          </td>
        {% endif %}
        
        <td>{{ history.get_transaction_display }}</td>
        <td>{{ history.date_of_transaction }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}