{% extends 'base.html' %}

{% block content %}
<h1>Trading Account: {{ trading_account.trading_name }}</h1>
<h2><b>Are you sure you wish to delete this trading account? All remaining shares will be sold</b></h2>
<h2><b>This action is irreversable!</b></h2>

<br>

<form action="/trading/delete/{{ trading_account.id }}/" method="POST">
    {% csrf_token %}
    <button type="submit">Confirm Deletion</button>
</form>

<form action="/trading/{{ trading_account.id }}">
    <button type="submit">Go Back</button>
</form>
{% endblock %}
