{% extends 'base.html' %}

{% block content %}
<div>
  <a class="link dropdown-toggle btn btn-sm btn-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  {% if defaultAccount %}
    <a class="dropdown-item" href="/trading/{{ defaultAccount.id }}"><i class="fa fa-users fa-fw"></i> {{ defaultAccount.trading_name }}</a>
  {% endif %}
  {% for instance in list_accounts %}
    {% if instance.id != defaultAccount.id %}
      <a class="dropdown-item" href="/trading/{{ instance.id }}"><i class="fa fa-users fa-fw"></i> {{ instance.trading_name }}</a>
    {% endif %}
  {% endfor %}
  <div class="dropdown-divider"></div>
	<a class="dropdown-item" href="/trading/create"><i class="fa fa-cog fa-fw"></i> Open a new trading account</a>
</div>
  <a class="btn btn-sm btn-primary" href="/trading" role="button" aria-haspopup="true" aria-expanded="false">View All</a>

<h1>Trading Account: {{ trading_account.trading_name }}</h1>
<h2>Shares in your trading account </h2>
<!-- View Trading Accounts -->
<h3>{{ no_stock }}</h3>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Number of Shares</th>
      <th scope="col">Value (per share)</th>
      <th scope="col">Daily Change</th>
      <th> Total Value</th>
      <th scope="col"></th>
      <th></th>

    </tr>
  </thead>
  <tr>
    {% for shares in sharesObj %}
       <tr>
          <th> <a href="/stock/buy/{{ shares.stockID.stock_ticker }}/">{{ shares.stockID.stock_name }}</a> </th>
          <th> {{shares.shares_amount}} </th>
          <th> {{shares.stockID.stock_price}} </th>
          <th>{% if value.stockID.stock_dayChange > 0 %}
              <div style="color:green">{{shares.stockID.stock_dayChange}}<i class="material-icons" style ="vertical-align:middle;">arrow_drop_up</i></div>
          {% elif value.stockID.stock_dayChange < 0 %}
              <div style="color:red">{{shares.stockID.stock_dayChange}}<i class="material-icons" style ="vertical-align:middle;">arrow_drop_down</i></div>
          {% else %}
              <div style="color:green">{{shares.stockID.stock_dayChange}}</div>
          {% endif %}
          </th>
          {% for total in share_value %}
            {% for key, value in total.items %}
                {% if key == shares.stockID.stock_ticker %}
                <th> {{value}}  </th>
                {% endif %}
              {% endfor %}
          {% endfor %}
          <td></td>
           <th> <button onclick="window.location.href='/stock/{{trading_account.id}}/sell/{{shares.stockID.stock_ticker}}'" class= "btn-secondary btn-sm">Sell</button> </th>
       </tr>
    {% endfor %}
  </table>

<form action="/stock/stocklist">
    <button class ="btn btn-secondary btn-sm" type="submit">Buy Shares</button>
</form>

<br>

{% if trading_account.is_default != True %}
  <form action="." method='POST'>
    {% csrf_token %}
    <button class ="btn btn-secondary btn-sm" type="submit">Make this my default trading account</button>
  </form>
  <br>

{% endif %}

<form action="/trading/delete/{{ trading_account.id }}">
    <button class ="btn btn-secondary btn-sm" type="submit">Delete this trading account</button>
</form>

{% endblock %}
