{% extends 'base.html' %}

{% block content %}
<h1>Trading Account: {{ trading_account.trading_name }}</h1>
<h2>Shares in your trading account </h2>

<h3>{{ no_stock }}</h3>
{% for share in Shares %}
    <p><a href="/stock/buy/{{ share.stockID.stock_ticker }}/">{{ share.stockID.stock_name }}</a><br> Shares owned:{{share.shares_amount}}</p>
{% endfor %}

<form action="/stock/buy/{{ trading_account.id }}">
    <button type="submit">Buy Share</button>
</form>

<br>

<form action="/trading/delete/{{ trading_account.id }}">
    <button type="submit">Delete this trading account</button>
</form>

{% endblock %}
